[submodule "qms-cli"]
	path = qms-cli
	url = https://github.com/whharris917/qms-cli.git
[submodule "flow-state"]
	path = flow-state
	url = https://github.com/whharris917/flow-state.git
[submodule "claude-qms"]
	path = claude-qms
	url = https://github.com/whharris917/claude-qms.git
[submodule "Quality-Manual"]
	path = Quality-Manual
	url = https://github.com/whharris917/quality-manual.git
[submodule "qms-workflow-engine"]
	path = qms-workflow-engine
	url = https://github.com/whharris917/qms-workflow-engine.git
